<h1>User Details</h1>
<% if @user.errors.any?%>
    <h1>following created error</h1>
    <%@user.errors.full_messages.each do |msg|%>
    <ul>
        <li><%=msg%></li>
    </ul>
    <%end%>
<%end%>
<%= form_for @user do |u|%>
    <p>
        <%= u.label :user_name%></br>
        <%= u.text_field :user_name%></br>
    </p>
    <p>
        <%= u.label :email%></br>
        <%= u.text_field :email%></br>
    </p>
    <p>
        <%= u.hidden_field :role_id, value: params[:role_id] %>
    </p>
    <p>
        <%= u.submit%>
    </p>
<%end%>