<h1> booked room history</h1>
<p>
  <h4>Room number: <%= @room.room_number%></h4>
</p>

<p>
  <h4>User name: <%= @room.user.user_name%></h4>
</p>

<p>
  <h4>User email: <%= @room.user.email%></h4>
</p>

<p>
  <h4>Booked By: <%= @room.user.role.name%></h4>
</p>

<%=link_to "Booked Rooms", conference_rooms_path%>
<p>
  <% if can? :update, @room %>
    <%=link_to "Edit", edit_user_role_room_path(@room.user.id)%> |
  <%end%>
  <% if can? :update, @room %>
    <%=link_to "Delete", conference_room_path(@room), method: :delete, data: {confirm: "Are you sure"}%>
  <%end%>
</p>